.cell {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: red;
  // margin: 2px;
}

.size {
  width: 64px;
  height: 64px;
}

.clickable {
  filter: brightness(75%);
}

.clickable:hover {
  filter: brightness(50%);
}