.header {
    width: 100vw;
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.title {
    align-self: center;
}

.game {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.instruction-list {
  margin-bottom: 16px;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction {
  margin-right: 8px;
}