<ccg-quiz></ccg-quiz>
<ccg-end></ccg-end>

<div class="header">
    <div class="title">
        CODE CONVENTION GAME
    </div>
</div>

<div class="game">

  <div *ngIf="!play">
    <div class="instruction-list">
      <div class="instructions">
        <span>How to Play:</span>
      </div>
      <div class="instructions">
        <span class="instruction">Click the tiles to traverse the maze</span>
        <img width="32" height="32" src="assets/dirt.png">
      </div>
      <div class="instructions">
        <span class="instruction">Overcome the obstacles by solving code conventions</span>
        <img width="32" height="32" src="assets/puzzle.png">
      </div>
      <div class="instructions">
        <span class="instruction">Getting an answer wrong will subtract a life</span>
        <img width="32" height="32" src="assets/puzzle.png">
      </div>
      <div class="instructions">
        <span class="instruction">Find the key</span>
        <img width="32" height="32" src="assets/big_key.png">
      </div>
      <div class="instructions">
        <span class="instruction">Reach the door with the key continue</span>
        <img width="32" height="32" src="assets/door.png">
      </div>
      <div class="instructions">
        <span class="instruction">Reach x score to win!</span>
        <img width="32" height="32" src="assets/door.png">
      </div>
    </div>

    <div class="instructions">
      <button class="play-button" (click)="play = true">play</button>
    </div>

  </div>

  <ccg-level *ngIf="play"></ccg-level>
</div>

<div class="author">
  <div>Created by Liam Cross</div>
</div>