.cell {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: transparent;
  // margin: 2px;
}

.clickable {
  filter: brightness(75%);
}

.clickable:hover {
  filter: brightness(50%);
  cursor: pointer;
}