<div *ngIf="open" class="overlay">
  <div class="box">
    <button class="close" (click)="close()">X</button>
    <div class="content">
      <div class="header">
        <span>Quiz Time!</span>
      </div>

      <div class="multi" *ngIf="multiQuiz">
        <div class="question">
          {{multiQuiz.question}}
          <br><br>
          <span class="code">{{multiQuiz.code}}</span>
        </div>
        <div class="answers">

          <div *ngFor="let answer of multiQuiz.answers">
            <button class="answer" [disabled]="isDisabled(answer.id)" (click)="multiClick(answer.id)" [ngClass]="{'pointer': !isDisabled(answer.id) }">
              {{answer.value}}
            </button>
          </div>

        </div>
      </div>

      <div *ngIf="fillQuiz">

      </div>

      <div class="hearts">
        <div class="lives">
          Lives:
        </div>
        <div *ngFor="let heart of maze.lives">
          <img width="32" height="32" src="assets/heart.png">
        </div>
      </div>
    </div>
  </div>
</div>